<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Clear inherited (global/user/machine) sources -->
        <clear/>
        <!-- Only use nuget.org for THIS solution -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    </packageSources>
</configuration>
